{% extends 'layout.html' %}
{% block body %}
<div class="container jumbotron text-center">
    <h1><strong>FAQ</strong></h1>
<dl class="faq">
    <dt>
      <button aria-expanded="false" aria-controls="faq1_desc">
        WHAT SHOULD I BRING TO MY WORKOUT SESSIONS?
      </button>
    </dt>
    <dd>
      <p id="faq1_desc" class="desc">
        We recommend that you bring water or your favorite workout drink because you will need to remain hydrated during your workout. We will have complementary water refills available-just case you run out. We’ve got your back.
 
You are also encouraged to bring any type of workout aid such as gloves, weight belt, etc.
      </p>
    </dd>
    <dt>
      <button aria-expanded="false" aria-controls="faq2_desc">
        WHAT ARE THE BENEFITS OF WORKING WITH A TRAINER?
      </button>
    </dt>
    <dd>
      <p id="faq2_desc" class="desc">
        A Certified Personal Trainer offers an expert and focused approach to provide members with an effective workout plan to meet their fitness goals and more. Our trainers develop a relationship with you based on understanding your challenges, physical limitations, and help capture your vision of living a healthier lifestyle. Trainers not only serve as your accountability partner, but they are able to provide you guidance regarding supplementation and other tools to crush your goals. Overall, Trainers are instrumental in helping you succeed on your fitness journey and beyond. 
      </p>
    </dd>
    <dt>
      <button aria-expanded="false" aria-controls="faq3_desc">
        WHAT ARE THE HOURS OF OPERATION?
      </button>
    </dt>
    <dd>
      <p>Monday through Friday:</p>
       
      <p>6:00 AM to 1:00 PM</p>
      
      <p>4:00 PM to 8:30 PM</p>
      
        <p>Saturday:</p>
      
            <p>9:00 AM to 6:00 PM</p>
      
                <p> Closed Sunday and Major Holidays
      </p>
    </dd>
    <dt>
      <button aria-expanded="false" aria-controls="faq4_desc">
        WHAT IS THE PROCESS FOR JOINING?
      </button>
    </dt>
    <dd>
      <p id="faq4_desc" class="desc">
        You can book an initial consult online along with your first free workout by scheduling through the book online tab of this website. Once scheduled, you will come into the gym for your consult and our sales person will assist you with the fast and easy membership process to include signing the liability waiver form and building member profile. Please bring debit card account information for monthly membership dues and if applicable, proof of veteran or first responder status for limited time membership rate or any important medical information you would like to disclose to our staff.
      </p>
    </dd>
  </dl>
</div>
{% endblock %}